@import "./reset.css";

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #8794ba;
  background: #f8f9ff;
}

.header {
  background-image: url("../img/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 815px;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.175;
  color: #172755;
}

.text {
  line-height: 1.5;
}

.header_top {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.header_logo {
  margin-right: 82px;
}

.menu {
  margin-right: 20px;
}

.menu_list {
  display: flex;
  column-gap: 36px;
}

.menu_link {
  color: #8794ba;
  text-align: center;
  display: inline-block;
  transition: transform 0.3s ease-in;
}

.menu_link:hover {
  color: #ef2a82;
  transform: scale(1.3);
}

.menu_link:active {
  position: relative;
  top: 1px;
}

.sign {
  display: flex;
  column-gap: 40px;
}

.sign_in_btn {
  display: inline-block;
  transition: transform 0.3s ease-in;
}

.sign_in_btn:hover {
  color: #ef2a82;
  transform: scale(1.3);
}

.sign_up_btn {
  display: inline-block;
  height: 40px;
  padding-left: 53px;
  padding-right: 53px;
  border: 1px solid #465b95;
  border-radius: 68px;
  line-height: 40px;
}

.sign_up_btn:hover {
  background: #ef2a82;
  color: #172755;
  border: 1px solid #ef2a82;
}

.sign_up_btn:active {
  position: relative;
  top: 1px;
}

.hidden {
  display: none;
}

.header_row {
  padding-top: 71px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  column-gap: 81px;
  padding-left: calc((100% - 1210px) / 2 + 15px);
  overflow-x: hidden;
}

.header_content {
  max-width: 550px;
  flex-shrink: 0;
  margin-bottom: 78px;
}

.header_title {
  margin-bottom: 15px;
  font-size: 50px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}

.header_text {
  margin-bottom: 49px;
}

.header_text>p {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  height: 50px;
  padding: 0 80px;
  border-radius: 68px;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
}

.btn:hover {
  background: #f8f9ff;
  color: #0f1f4b;
}

.btn:active {
  position: relative;
  top: 1px;
}

.btn_red {
  background: #ef2a82;
}

.btn_back_dark:hover {
  background: #0f1f4b;
  color: #f8f9ff;
}

.btn_border {
  border: 1px solid #2a407c;
}

.header_img {
  position: relative;
  flex-shrink: 0;
  margin-left: 68px;
}

.header_img img {
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
}

.header_img::before {
  position: absolute;
  content: "";
  background-image: url("../img/header/screen.svg");
  background-repeat: no-repeat;
  width: 361px;
  height: 247px;
  left: -69px;
  top: 124px;
  box-shadow: 0px 19.2249px 53.4024px -16.0207px rgba(25, 42, 89, 0.2);
  border-radius: 32.0414px;
}

.main {
  padding-top: 38px;
  padding-bottom: 109px;
}

.features {
  padding-bottom: 130px;
}

.features_top {
  text-align: center;
}

.features_title {
  margin-bottom: 30px;
}

.features_text {
  margin: 0 auto 81px;
  max-width: 1060px;
}

.features_text>p {
  margin-bottom: 15px;
}

.features_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 100px;
}

.features_column {
  width: 380px;
  text-align: center;
}

.features_column_img {
  margin-bottom: 26px;
}

.features_column_title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  color: #172755;
}

.features_column_desc {
  font-size: 16px;
  line-height: 1.375;
}

.automated {
  padding-bottom: 114px;
}

.automated_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.automated_row {
  margin-top: 120px;
}

.automated_row:nth-child(even) {
  flex-direction: row-reverse;
}

.automated_column {
  width: 480px;
  flex-shrink: 0;
}

.automated_column_title {
  margin-bottom: 30px;
}

.automated_column_text>p {
  margin-bottom: 15px;
}

.automated_column_img {
  width: 600px;
  box-shadow: 0px 18px 50px -15px rgb(25 42 89 / 20%);
  border-radius: 30px;
}

.price {
  background-image: url("../img/price/price-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1086px;
}

.price_top {
  padding-top: 272px;
  padding-bottom: 80px;
  text-align: center;
}

.price_top_title>* {
  padding-bottom: 30px;
  color: #fff;
}

.price_top>p {
  width: 650px;
  margin: 0 auto 15px;
}

.price_card {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 340px;
  background-color: #0f1f4b;
  box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
  border-radius: 30px;
  text-align: center;
}

.card_white {
  background-color: #fff;
  box-shadow: 0px 18px 50px -15px #060f28;
}

.card_content {
  padding: 50px 60px 70px 60px;
}

.card_top {
  border-bottom: 1px solid #d3d9e9;
}

.card_top_border_color {
  border-bottom: 1px solid #2a407c;
}

.card_title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.166;
  color: #fff;
}

.card_text {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 37px;
}

.card_inner {
  margin-top: 28px;
  margin-bottom: 40px;
}

.card_inner_cost {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.166;
  color: #fff;
}

.card_color {
  color: #172755;
}

.card_inner_cost span {
  font-size: 30px;
}

.card_inner_descr {
  font-size: 16px;
  line-height: 1.375;
}

.companies {
  padding-top: 109px;
  max-width: 962px;
  margin: 0 auto;
}

.companies_row {
  display: flex;
  justify-content: space-between;
  column-gap: 46px;
}

.companies_column {
  width: 480px;
  height: 480px;
  position: relative;
}

.companies_column_mini_size {
  width: 431px;
  flex-shrink: 0;
}

.companies_title {
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  color: #160637;
}

.companies_descr {
  margin-bottom: 51px;
  position: relative;
  text-align: center;
}

.companies_descr::before,
.companies_descr::after {
  position: absolute;
  content: "";
  width: 144px;
  height: 2px;
  background: #d6d6d6;
  top: 50%;
  transform: translateX(-50%);
}

.companies_descr::before {
  left: 24px;
}

.companies_descr::after {
  right: -112px;
}

.companies_icons {
  width: 305px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  row-gap: 70px;
  column-gap: 105px;
}

.companies_icons_accenture,
.companies_icons_react,
.companies_icons_airbnb,
.companies_icons_sky {
  fill: #8989a2;

  transition: fill 0.3s ease-in;
}

.companies_icons_accenture:hover {
  fill: #000;
}

.companies_icons_react:hover {
  fill: rgb(152, 152, 253);
}

.companies_icons_airbnb:hover {
  fill: rgb(254, 69, 69);
}

.companies_icons_sky:hover {
  fill: blue;
}

.companies_column+.companies_column {
  background: #f9f0ff;
  border-radius: 4px;
}

.companies_column_inner {
  position: absolute;
  left: 26px;
  top: -42px;
  padding: 32px 40.5px;
  width: 428px;
  background-color: #fff;
  box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
  border-radius: 8px;
}

.companies_column_title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.333;
  color: #160637;
  text-align: center;
}

.form_authorization {
  margin-bottom: 16px;
}

.form_authorization>*+* {
  margin-top: 16px;
}

.form_auth_btn {
  padding-left: 105px;
  padding-right: 104px;
  line-height: 48px;
  height: 48px;
  border-radius: 4px;
  background: #722ed1;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.form_auth_btn:hover {
  background: #ef2a82;
}

.form_auth {
  padding: 16px;
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  color: #2a407c;
}

.form_auth::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  color: #8989a2;
}

.companies_stars {
  text-align: center;
  font-weight: 500;
}

.companies_stars_title {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.187;
  color: #000000;
}

.rating_area {
  width: 265px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row-reverse;
}

.rating_area:not(:checked)>input {
  display: none;
}

.rating_area:not(:checked)>label {
  margin-right: 15px;
  width: 15px;
  padding: 0;
  cursor: pointer;
  font-size: 20px;
  line-height: 32px;
  color: lightgrey;
}

.rating_area:not(:checked)>label:before {
  content: "★";
}

.rating_area>input:checked~label {
  color: gold;
}

.rating_area:not(:checked)>label:hover,
.rating_area:not(:checked)>label:hover~label {
  color: gold;
}

.rating_area>input:checked+label:hover,
.rating_area>input:checked+label:hover~label,
.rating_area>input:checked~label:hover,
.rating_area>input:checked~label:hover~label,
.rating_area>label:hover~input:checked~label {
  color: gold;
}

.rate_area>label:active {
  position: relative;
}

.companies_stars_text {
  padding-top: 16px;
  font-size: 14px;
  line-height: 1.142;
  border-top: 1px solid rgba(137, 137, 162, 0.48);
}

.companies_stars_text a {
  color: #722ed1;
}

.footer {
  background: #1f2f5c;
}

.footer_row {
  padding: 64px 0px 60px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_menu_list {
  display: flex;
}

.footer_menu_item+.footer_menu_item {
  margin-left: 36px;
}

.footer_menu_link {
  font-size: 14px;
  line-height: 1.142;
  color: #8794ba;
}

.footer_menu_link:hover {
  color: #ef2a82;
}

.footer_social_list {
  display: flex;
  align-items: center;
}

.footer_social_item {
  margin-left: 20px;
}

.footer_social_link {
  fill: #8794ba;
  border-radius: 8px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  padding-bottom: 6px;
  background-color: transparent;
}

.footer_social_link:hover {
  fill: #ef2a82;
  background-color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {

  .header_top {
    display: flex;
    justify-content: center;
  }
  .menu {
    display: none;
  }
  .sign_up_btn {
    display: none;
  }

  .hidden {
    display: inline;
    padding-left: 18px;
  }

  .header {
    height: 1150px;
  }

  .header_img::before {
    opacity: 0;
  }

  .header_row {
    display: flex;
    flex-direction: column-reverse;
    align-items: baseline;
    gap: 32px;
  }

  .features_top {
    display: flex;
    flex-wrap: wrap;
  }
  .features_row {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
  }

  .features_column {
    display: flex;
    gap: 12px;
  }

  .automated_row {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .automated_row:nth-child(even) {
    display: flex;
    flex-direction: column;
  }

  .companies_row {
    display: flex;
    justify-content: space-between;
    column-gap: 46px;
    flex-direction: column;
}

.price_top {
  display: flex;
  flex-wrap: wrap;
}

.price_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_menu {
  display: none;
}
}